@{
    ViewBag.Title = "Role Listing";
}
<p>&nbsp;</p>
<div class="featured">
    @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Add Role to User", "RoleAddToUser")
    <h2>Role Index</h2>
            @foreach (string s in Model)
            {
                <span onclick="return confirm('Are you sure to delete?')">
                        <a href="/Account/RoleDelete?RoleName=@s">Delete</a>
                </span>
                @s
                <div></div>
            }
</div>